.navcontainer {
    background-image: url(/img/bgHeader.jpg);
    background-size: cover;
    height: 600px;
    color: white;
}

.logoDiv {
    margin: 0 auto;
    text-align: center;
}

.logocursive {
    font-family: 'Caveat', cursive;
    font-size: 60px;
}

.mainlogofont {
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
}

.hrlogo {
    width: 5%;
    margin: 0 auto;
    padding: 0 auto;
    border-top: 5px solid white;
}

.hrlogo2 {
    width: 5%;
    margin: 0 auto;
    padding: 0 auto;
    border-top: 5px solid rgb(255, 0, 0);
}


.navbar {
    width: 80%;
    margin: 0 auto;
}

.mainbtn {
    color: white;
    border: 2px solid white;
    width: 170px;
}

/* .mainbtn:hover {
    box-shadow: ;
} */

.about-us-cont {
    text-align: center;
}

.wwd {
    font-family: 'Caveat', cursive;
    font-size: 35px;
}

.sau {
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
}

.card1 {
    background-image: url(/img/card1.jpg);
    margin: 10px;
    height: 250px;
    background-size: cover;
}

.card2 {
    background-image: url(/img/card2.jpg);
    margin: 10px;
    height: 250px;
    background-size: cover;
}

.card3 {
    background-image: url(/img/card3.jpg);
    margin: 10px;
    height: 250px;
    background-size: cover;
}

.a-about {
    width: 70%;
    margin: 0 auto;
}

.shorttext {
    width: 70%;
    margin: 0 auto;
}

.numbers-check {
    background-color: #95e1d3;
    height: 170px;
    color: white;
}

.description-number {
    font-weight: lighter;
    font-size: 12px;
}

.numbers-row {
    width: 70%;
    margin: 0 auto;
}

.numbers-col {
    border: 1px solid white;
}